div.jplex-menubar {
    width: 100%;
    height: 1.7em;
    background-image: url("bgs.png");
    border-bottom: 1px #c0c0c0 solid;
    vertical-align: middle;
    font-size: 0.9em;
}

div.jplex-menubar ul.jplex-menubar,
    ul.jplex-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
}

input.jplex-menu {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-image: url("bgs.png");
    border: 1px #c0c0c0 solid;
    font-size: 1em;
}

div.jplex-menubar, ul.jplex-menu * {
    cursor: default;
}

ul.jplex-menu {
    position: absolute;
    background: #fefefe;
    border: 1px #999999 solid;
}

div.jplex-menubar li.first {
    padding: 0 0.8em 0 0.7em;
    border-left: 1px #c0c0c0 solid;
    display: inline;
    height: 1.9em;
    line-height: 1.9em;
    vertical-align: middle;
}

ul.jplex-menu li.item {
    padding: 0 4.5em 0 0.7em;
    height: 1.7em;
    line-height: 1.7em;
    vertical-align: middle;
    white-space: nowrap !important;
    clear: both;
    border: 1px transparent solid;
}

ul.jplex-menu li.item:hover,
    ul.jplex-menu li.item.icon:hover {
    background: #d6f4fe no-repeat 4px 4px;
    border: 1px #c0c0c0 dotted;
}

div.jplex-menubar li.first:hover,
    div.jplex-menubar li.first-selected {
    background: url("bgs.png") 0 -1300px;
}

ul.jplex-menu li a {
    text-decoration: none;
    color: inherit;
}

ul.jplex-menu span.shortcut {
    color: #999999;
    position: absolute;
    right: 0.5em;
}

ul.jplex-menu span.parent {
    position: absolute;
    right: 0;
    width: 1em;
    height: 1.2em;
    background: url("submenu.png") no-repeat right 0.5em;
}

ul.jplex-menu li.item.icon {
    background: no-repeat 4px 4px;
}

div.jplex-menubar li.first.icon,
    div.jplex-menubar li.first.icon:hover {
    background: no-repeat 4px 1px;
}

ul.with-icon > li.item.icon,
    ul.with-icon > li.first.icon,
    ul.with-icon > li.item.no-icon {
    padding-left: 26px;
}