body {
    font: 13px / 18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
}

div.jplex-window div.header {
    background:#323232;
    color:#fefefe;
}

div.jplex-window a.close, div.jplex-window a.close:hover {
	background:url('../../src/jplex/components/window/assets/window-close.png') no-repeat;
}

div.jplex-window a.close:hover {
	background-position:0 -15px;
}

div.menubar {
    position:relative;
    margin-bottom:10px;
    font-size:1em;
}
div.menubar li.item {
    height:22px;
}

div.code-window div.body {
    overflow:scroll;
    max-height:400px;
    max-width:500px;
}

div#what {
    width:60%;
    text-align: justify;
}

ul.jplex-tabs li {
    -moz-border-radius:15px;

    -webkit-border-radius:14px;
    background:#c3d9ff;
    padding:0.2em 0.8em 0.2em 0.8em;
    border:3px #79b3ec solid;
    margin-right:1em;
}

ul.jplex-tabs li:first-child {
    margin-left:0;
}

ul.jplex-tabs li:hover, ul.jplex-tabs li.jplex-tabs-active:hover {
    background:#79b3ec;
    color:#ffffff;
}

div#tabs-line {
    border:2px #79b3ec solid;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
    top:-1em;
    z-index:0;
}

div#what div.body {
    padding:0;
}

div#about {
    width: 40%;
    text-align: justify;
}

div#about table {
    text-align: center;
}

div.jplex-window div.footer {
    text-align:right;
}