div.jplex-tooltip {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px #c0c0c0 solid;
	position:absolute;
	padding:0.2em 0.5em 0.2em 0.5em;
	cursor:pointer;
	background:#ffffff;
	display:inline-block;
}

div.jplex-tooltip div.bubble-pin {
	position:absolute;
	height:20px;
}

div.jplex-tooltip div.bubble-pin-bl {
	background:url("bubble-pin-bl.png") right bottom no-repeat;
}

div.jplex-tooltip div.bubble-pin-br {
	background:url("bubble-pin-br.png") left bottom no-repeat;
}

div.jplex-tooltip div.bubble-pin-tl {
	background:url("bubble-pin-tl.png") right top no-repeat;
}

div.jplex-tooltip div.bubble-pin-tr {
	background:url("bubble-pin-tr.png") left top no-repeat;
}

div.jplex-tooltip-shadow {
	position:absolute;
	width:auto;
	background:#000000;
}

.jplex-bubbler {
	cursor:help;
}

div.jplex-tooltip div.body {}
