div.menubar li.item {
    border: 0;
}

div.menubar ul {
    position:absolute;
    width:200px;
}

div.menubar li.item-with-icon {
    padding: 0 4.5em 0 0.7em;
    height: 1.5em;
    vertical-align: middle;
    white-space: nowrap !important;
    clear: both;
    border: 0;
    background: no-repeat 4px 4px;
}


div.menubar li.item-without-icon {
    padding: 0 4.5em 0 0.7em;
    height: 1.5em;
    vertical-align: middle;
    white-space: nowrap !important;
    clear: both;
    border: 0;
}

div.menubar span.shortcut {
    line-height:1.2em;
}

div.menubar li.ie6-item-hover {
    background: #d6f4fe no-repeat 4px 4px;
    border: 1px #c0c0c0 dotted;
}

div.menubar li.ie6-first-hover {
    background: url("bgs.png") 0 -1300px;
}

