input.jplex-calendar-button {
    background: url('icon-calendar.gif') no-repeat center center;
    border:1px #909090 solid;
	padding:0.1em 1em 0.1em 0.1em;
	margin-left:0.2em;
	width:30px;
}

div.jplex-calendar td {
    border: 0;
    padding:1px;
}